body{
    background-color:rgb(253, 250, 250);
}
.fileupload{
    display:flex;
    flex-direction:row;
    /* border: 1px solid #101011; */
    /* background-color: pink; */
    align-items:center;
    justify-content: center;
}
/* input[type="file"]{
    visibility:hidden;
} */

.img{
    width: 100px;
    height: 100px;
    
    /* border-radius: 50%;  */
    border: 2px #000 solid;
    outline:none !important;
    text-decoration: none;
}

.companyDetails{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    align-items:center;
    margin:auto;
    background-color:#fff;
    width:508px;
    height:754px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.inputs{
    display:flex;
    flex-direction:column;
 
}
.single-input{
    margin: 20px;
    display:flex;
    flex-direction:column;
}
.single-input > label{
    display:flex;
    justify-content:start;
    margin: 2px;
}
.single-input > input{
    padding: 15px;
    border: 2px solid grey;
    border-radius: 0px;
    margin:7px;
    outline:none;
 

}
.single-input > input:focus{
    border: 3px solid #ED5901
    ;
}
input[type="number"]{
    width: 390px;
}
input[type="email"]{
    width: 390px;
}
.buttons{
    display:flex;
    flex-direction: row;
}
.next-btn{
    margin: 10px;
    padding: 15px 80px;
    background-color:#ED5901;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;

}
.back-btn{
    margin: 10px;
    padding: 15px 30px;
    color: grey;
    border: none;
    cursor: pointer;
    font-size: 15px;
}