.emailVerification{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
    align-items:center;
    margin:auto;
    background-color: #fff !important;
    width:508px;
    height:350px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.emailVerification-otp{
    align-items:center;
   
}

.otp-input{
    padding: 15px;
   
    border-radius: 0px;
    margin-left: 30px !important;
    outline:none;
}
@media(max-width: 540px){
.emailVerification{
    width:400px;
    height:400px;
}
.otp-input{
    padding: 15px;
   
    border-radius: 0px;
   margin: 0px !important;
    outline:none;
}
}

